<div class="login-container">
    <h2>Login</h2>
    <form (ngSubmit)="onSubmit()">
      <div class="form-group">
        <label for="username">Username</label>
        <input
          type="text"
          id="username"
          class="form-control"
          name="username"
          
          required
        />
      </div>
      <!-- [(ngModel)]="loginData.username" -->
      <div class="form-group">
        <label for="password">Password</label>
        <input
          type="password"
          id="password"
          class="form-control"
          name="password"

          required
        />
      </div>
      <!-- [(ngModel)]="loginData.password"   -->
      <button type="submit" class="btn btn-primary">
        Login
      </button>
    </form>
  
    <div *ngIf="errorMessage" class="error-message">
      {{ errorMessage }}
    </div>
  </div>
  