<div class="signup-container">
    <h2>Sign Up</h2>
    <form (ngSubmit)="onSubmit()">
      <div class="form-group">
        <label for="name">Name:</label>
        <input type="text" id="name" formControlName="name" class="form-control" />
        <div *ngIf="signupForm.get('name')?.invalid && signupForm.get('name')?.touched">
          Name is required
        </div>
      </div>
  
      <div class="form-group">
        <label for="email">Email:</label>
        <input type="email" id="email" formControlName="email" class="form-control" />
        <div *ngIf="signupForm.get('email')?.invalid && signupForm.get('email')?.touched">
          Enter a valid email
        </div>
      </div>
  
      <div class="form-group">
        <label for="password">Password:</label>
        <input type="password" id="password" formControlName="password" class="form-control" />
        <div *ngIf="signupForm.get('password')?.invalid && signupForm.get('password')?.touched">
          Password is required (min 6 characters)
        </div>
      </div>
  
      <button type="submit" class="btn btn-primary" [disabled]="signupForm.invalid">
        Sign Up
      </button>
    </form>
  </div>
  